/* Estilos básicos del login */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4; /* Fondo claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333; /* Color oscuro para el texto */
}

/* Contenedor del formulario */
.login-box {
  background-color: #fff; /* Fondo blanco para el formulario */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
  width: 100%;
  max-width: 400px; /* Máxima anchura para el formulario */
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

/* Efecto de sombra al hacer hover */
.login-box:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

/* Título del formulario */
.login-box h1 {
  color: #333;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Imagen */
.login-box img {
  width: 100px;
  margin-bottom: 25px;
  border-radius: 50%;
}

/* Estilos de los campos de entrada */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  color: #555;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff; /* Borde azul cuando está enfocado */
}

/* Botón de inicio de sesión */
button {
  background-color: #080808;
  color: #fff;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

button:hover {
  background-color: #0d0d0e;
  transform: translateY(-2px);
}

/* Mensaje de error */
.error-message {
  display: none;
  margin-top: 15px;
  color: #ff4d4d;
  font-size: 14px;
}

.error-message p {
  margin: 0;
}


/* Estilos de responsive */
@media (max-width: 768px) {
  .login-box {
      padding: 30px;
      width: 90%;
  }

  .login-box h1 {
      font-size: 26px;
  }

  .input-group input {
      font-size: 16px;
  }

  button {
      font-size: 16px;
  }
}
